region = "us-east-1" # Select a proper region
availability_zone = ["us-east-1a", "us-east-1b", "us-east-1c", "us-east-1d"] # This list goes hand in hand with the previous variable

name  = "Flugel"
owner = "InfraTeam"

bucket = "choose-an-usable-s3name"

access_ip = "0.0.0.0/0"

